body {
  margin: 10px;
}

.task {
  padding: 5px;
  border: 1px solid black;
  word-wrap: break-word;
  margin: 1px;
}

.active {
  background-color: #afa;
}

.list {
  margin-top: 10px;
  width: 200px;
  border: 1px dashed #aaa;
  padding: 5px;
  float: left;
}

.screen {
  width: 500px;
  height: 250px;
  position: absolute;
  bottom: 0;
  border: 1px solid #ddd;
  margin: 30px;
  border-radius: 5px;
}

.screen img {
  width: 100%;

}
